/* Background */
.mdl-js {
    background-color: #232323;
}

/* Frame around text and components to keep it in place */
.box {
    height: 650px;
    width: 430px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Tskoliterminal logo */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 30px;
    padding-top: 10px;

}

/* "Tskóli Terminal" */
/*h1 {
    text-align: center;
    font-size: 38px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}*/

/* Container around everything auth. */
#firebaseui-auth-container {
    padding-top: 20px;
    float: left;
}

/* Title in auth. container */
.firebaseui-title {
    text-align: left;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 25px;
}

/* Auth. textfield and title */
.firebaseui-card-content {
    border: none;
    border-bottom: 2px solid #06f;
}
    .innerbox {
        display: flex;
        flex-direction: column;
        color: white;
    }

/* Input for auth. textfield */
#ui-sign-in-email-input {
    background-color: #232323;
    padding: 20px;
    text-decoration: none;
    border: none;
    fill: #232323;
}

/* Email and password input title field when */
.firebaseui-label {
    font-size: 16px;
    text-transform: uppercase;
    padding-right: 5px;
    color: #888888;
}

/* Email input field */
#ui-sign-in-email-input {
    color: white;
    font-size: 16px;
    background-color: #232323;
    text-transform: uppercase;
    width: 333px;
    height: 20px;
    text-decoration: none;
}
    #ui-sign-in-email-input:focus, input:focus{
        outline: none;
    }
    #ui-sign-in-email-input[type="email"] {
        background-color:#232323; 
    }

/* Password input field */
#ui-sign-in-password-input {
    color: white;
    font-size: 16px;
    background-color: #232323;
    text-transform: uppercase;
    width: 329px;
    height: 20px;
    text-decoration: none;
}
    #ui-sign-in-password-input:focus, input:focus {
        font-size: 16px;
        background-color: #232323;
        outline: none;
        border: none;
    }
    #ui-sign-in-password-input[type="password"] {
        font-size: 16px;
        background-color:#232323; 
    }

/* Error when incorrect email */
.firebaseui-text-input-error {
    color: red;
}

/* Trouble signing in link */
.firebaseui-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
    .firebaseui-id-secondary-link {
        text-decoration: none;
    }

/* Auth. button */
.firebaseui-button {
    position: absolute;
    right: 45px;
    background-color: #232323;
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    height: 38px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
}
    .firebaseui-button:focus {
    color: #171e29;
    }
    .firebaseui-button:hover {
    border-color: #06f;
    color: #06f;
    }
    .firebaseui-button:active {
    border-color: #06f;
    color: #06f;
    }

