body {
    background-color: #232323;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Frame around text and components to keep it in place */
/*.messagecontainer {
    width: 80%;
    height: auto;
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    padding: 2rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}*/

/* Frame around text and components to keep it in place */
.messagecontainer {
    height: 650px;
    width: 430px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: auto;
    border-radius: 24px;
}

.messagetxt {
    color: white;
    margin-bottom: 2px;
    border: 1.5px solid rgb(69, 69, 69);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px 20px 20px 0px;
    width: fit-content;
}

.inputfield {
    color: rgb(133, 133, 133);
    font-size: 16px;
    width: 330px;
    text-decoration: none;
    border: none;
    padding-right: 5px;
    margin-top: 30px;
    margin-left: 0px;
    padding-right: 30px;
}

#inputField {
    height: 38px;
}

.deletebtn {
    font-size: 12px;
    padding-left: 0px;
    padding-bottom: 10px;
    cursor: 'pointer';
    background-color: #232323;
    border: none;
    color: rgb(163, 163, 163);
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deletebtn:focus {
    color: rgb(163, 163, 163);
}
    .savebtn:hover {
        border-color: rgb(255, 45, 45);
        color: rgb(255, 45, 45);
    }
    .savebtn:active {
        border-color: rgb(255, 45, 45);
        color: rgb(255, 45, 45);
    }

.editbtn {
    font-size: 12px;
    padding-left: 0px;
    padding-bottom: 10px;
    cursor: 'pointer';
    background-color: #232323;
    border: none;
    color: rgb(163, 163, 163);
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sending {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 32px;
}

#sendBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #232323;
    border: 1.5px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    width: auto;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
    margin-right: 6px;
    margin-left: 6px;
}

.catbtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #232323;
    border: 1.5px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    width: auto;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
    margin-right: 6px;
    margin-left: 6px;
}

.savebtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #232323;
    border: 1.5px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    height: 40px;
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
    margin-right: 6px;
    margin-left: 6px;
}

#editField {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: rgb(133, 133, 133);
    font-size: 16px;
    width: 323px;
    text-decoration: none;
    border: none;
    padding-right: 5px;
    margin-top: 30px;
    margin-left: 0px;
    padding-right: 30px;
}

#sendBtn:focus {
    color: #fff;
}
    #sendBtn:hover {
    border-color: #4DDFA3;
    color: #4DDFA3;
    }
    #sendBtn:active {
    border-color: #4DDFA3;
    color: #4DDFA3;
    }

.catbtn:focus {
    color: #fff;
}
    .catbtn:hover {
        border-color: rgb(41, 127, 255);
        color: rgb(41, 127, 255);
    }
    .catbtn:active {
        border-color: rgb(41, 127, 255);
        color: rgb(41, 127, 255);
    }

.savebtn:focus {
    color: #fff;
}
    .savebtn:hover {
        border-color: rgb(255, 111, 207);
        color: rgb(255, 111, 207);
    }
    .savebtn:active {
        border-color: rgb(255, 111, 207);
        color: rgb(255, 111, 207);
    }